.contenedor{
  /* position:relative;
  left:30px;
  top:90px;
  right: 10;
  width: 100%;
  height: 100%;
  transform: translate(-5%, -1%); */
  position: relative;
  top: 99px;
  text-align: justify;
  padding-bottom: 10px;
  margin-left: 40px;
  margin-right: 40px;
  padding-left: 70px;
  padding-right: 70px;
  margin-bottom: 10px;
    
  max-width: 100%;
  height: auto;
  align-self: center
}

h2{
  text-align: center;
  line-height: 300px;

}

footer{
      
      /* border-top: 10%;
      
      border-width: thin 0px;
      border-style: ridge;
      background-color: rgba(218, 221, 23, 0.945);
   */ 
   margin-top: -20px;
   /* height: 20px; */

   margin:6.5%;/*es para bajar el footer*/
   box-sizing: border-box;
   display: flex;
   flex-direction: column;
   background-color: rgba(167, 168, 106, 0.945);
  
}

.imgr{

  border-radius: 20%;
  text-align: center;
}

.imgT {
  
  border-radius: 4px;
  padding: 5px;
  width: 150px;
  text-align: center;
  margin:0 9px; /*espacio entre imagenes*/
  
}

.imgT:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}