body{
    margin: 0;
    padding: 0;
    font-family: cursive;
    background: rgb(255, 187, 41);
    
}
  
  input,select{
    padding: 4px;
    width: 240px;
    max-width: 100%;
    font-size:1.2em;
    margin-bottom: 10px;
  }
  
  label {
    display: inline-block;
    width: 45%;
  }
  
  body, input {
    font-family: sans-serif;
  }
  
  button{
      padding: 6px;
      width: 220px;
      font-size:1.2em;
      margin-left: 46%;
      border-radius:5px 0 0 0;
  }
  
  h1 {
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
    font-size: 15px;
    padding: 40px 40px;
    text-align: center;
    text-transform: uppercase;
    text-rendering: optimizeLegibility;
  }
  h1.elegantshadow {
    color: #ecdfdf;
  background-color: #2d2d2d;
  letter-spacing: 0.1em;
  text-shadow: -1px -1px 1px #111, 2px 2px 1px #363636;
  }
  
  