body{
    margin: 0;
    padding: 0;
    font-family: cursive;
    background: rgb(255, 187, 41);
    background-size: 100% auto;
}

ul{
    position: absolute;
    top: 20%;/*para posicion arriba abajo todo el menu*/
    left: 50%;/*para posicion izq-der*/
    transform: translate(-50%, -50%);
    margin: 1px; 
    padding: 20px 0; /*ancho de la barra contenedora*/
    background: rgb(233, 218, 218);
    display: flex;
    border-radius: 10px;
    box-shadow: 0 10px 30px rgba(0,0,0,.3);
    
}

ul li{
    list-style: none;
    text-align: center;
    display: block;
    border-right: 1px solid rgba(0, 0, 0, 0.2);/*barra entre iconos*/
}
ul li:last-child{
    border-right: none;
}

ul li a{
    text-decoration: none;
    padding: 0px 90px;/*para el largo del menu que se vea largo*/
    display: block;
    height: 3rem; /*ancho de el menu*/
    
}
/*efectos de los iconos*/
ul li a .icon{
    width: 40px;
    height: 40px;
    text-align: center;
    margin: 0 auto 10px;
    overflow: hidden; /*para que se oculte por encima*/
    border-top: 2px;
}
/*efectos de los iconos*/
ul li a .icon .fa{
    width: 90%;
    height: 90%;
    line-height: 0px;/*icono arriba y abajo*/
    font-size: 19px;/*ancho de los iconos*/
    transition: 1s; /* tiempo */
    color: #000;
}
/*efectos de los iconos*/
ul li a:hover .icon .fa{
    transform: translateY(-100%);
}

h1 {
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
    font-size: 15px;
    padding: 40px 30px;
    text-align: center;
    text-transform: uppercase;
    text-rendering: optimizeLegibility;
  }
h1.elegantshadow {
    color: #ecdfdf;
  background-color: #2d2d2d;
  letter-spacing: 0.1em;
  text-shadow: -1px -1px 1px #111, 2px 2px 1px #363636;
  }

.txt{
    width:  380px;
}

input{
    font-size: 15px;
}
 legend{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 150%;
    text-align: center;
    color:lawngreen;
}

 #uno{
    position: absolute;
    top: -5%;
    left: 50%;
    transform: translate(-50%, 50%);
    background: rgb(136, 216, 248); 
    border-radius: 10px ;
    margin: 1 center;
    padding: 10px 20px;
}

img{
    height: 150px;
}
